.prob {
	display: flex;  /* размешает елекменты внутри по горищонтали */
	justify-content: start;/* работает только в флексбоксе когда дисплей флекс
	 ращмешает елементы по всей ширине екрана с равным промедутком между ними     горизонтально выравнивание ось х */
	align-items: center; /* центритует елементы по вертикале ось y  */
	
	/* flex-direction: column; 
	/* меняет направление елементов ставит их не горизонтально а вертикально  ( попробуй написать увидешь) 
	так же меняются оси при таком размещении  */
	

    /*надо расположить в одну строку*/
    .tabl1 {
        margin: 20px;
        padding: 20px;
        width: 100px;
        height: 30px;
        background-color: yellow;
        /*окантовка*/
		  border: 2px solid #ff0000; /* размер тип цвет */
    }

    .tabl2 {
        margin: 20px;
        padding: 20px;
        width: 100px;
        height: 30px;
        background-color: red;
        /*окантовка*/
		  border: 4px solid rgb(56, 180, 180);
		  border-radius: 15px; /* закругленные края */
    }
}