.prob {
    display: inline-block;

    /*надо расположить в одну строку*/
    .tabl1 {

        margin: 20px;
        padding: 20px;
        width: 100px;
        height: 30px;
        background-color: yellow;

        /*окантовка*/
        border: 2px;
        border-color: black;
    }

    .tabl2 {

        margin: 20px;
        padding: 20px;
        width: 100px;
        height: 30px;
        background-color: red;

        /*окантовка*/
        border: 2px;
        border-color: black;
    }
}