.wrapper{

}
.wrapper__list{

}
.wrapper__item{
	position: relative;
	list-style: none; 

}
.wrapper__item::before{
	content: '';
	position: absolute;
	top: 6px;
	left: -15px;
	display: block;
	width: 5px;
	height: 5px;
	background-color: #e90a0a;
	border-radius: 50%;
	
}



